<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Create a new Product</h1>
    
    <form action="/products" method="POST">
        <label for="title">Product Name:</label>
        <input type="text" name="title">
        <label for="price">Price:</label>
        <input type="text" name="price">
        <label for="description">Description:</label>
        <input type="text" name="description">
        <input type="submit" value="Create">
    </form>

    <br>
    <hr>
    <a href="/">Go to Home</a><br><br>
    <a href="/products">Go to Products</a>

</body>
</html>